@charset "utf-8";

// import
@import 'reset';


.wrap{
    width:100%;
    height:auto;
}
/*****common*****/
/*button*/
.btn {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    &,.btn::after{
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}
.common_btn {
    display: inline-block;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.3rem #121212;
    overflow: hidden;
  &::before{
    content: '';
    position: absolute;
    background: #fff;
    z-index: -1;
  }
  &:hover{
    color: #616161;
    text-shadow: 0 0 0 transparent;
  }
  &::after{
    content: '';
    height: 100%;
    left: -50%;
    top: 0;
    background: #fff;
    position: absolute;
    z-index: -1;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
  }
  &:hover::after{
    height: 100%;
    width: 150%;
  }
}
.btn_back{
    position: relative;
    padding-left: 2rem;
    color: #fff;
    font-size: 1.4rem;
    &::before{
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top:2px;
        width: 0.8rem;
        height: 1.4rem;
        background: url(../images/arrow-small-left.png) no-repeat 0 0 / 0.8rem 1.4rem;
    }
}
/*margin*/
.ma0{
    margin: auto 0;
}
.mt20{
    margin-top: 2rem;
}
/*padding*/
.pr25{
    padding-right:2.5rem;
}
/*font*/
.fc_gray{
    color:#b1b1b1;
}
.fc_white{
    color:#fff;
}
.fc_yellow{
    color:#ffc400;
}
/*text-align*/
.tac{
    text-align: center !important;
}
.tal{
    text-align: left !important;
}
.tar{
    text-align: right !important;
}
/*title*/
.h3_tit{
    width:100%;
    margin-bottom: 2rem;
    color:#fff;
    font-size:5rem;
    font-weight: 900;
    word-break: keep-all;
    text-align: center;
    text-transform:uppercase;
    box-sizing: border-box;
}
.sub_tit{
    width:100%;
    margin-bottom: 0.5rem;
    text-align: center;
    color:#fff;
    font-size:2rem;
    font-weight: 900;
    &+p{
        margin-top:2rem;
    }
}
/*design box*/
.line_box{
    margin: 1rem;
    padding:2.5rem 2rem 0rem 2rem;
    border-radius: 10%;
    border:1px solid #fff;
    &::after{
        content: "";
        display: block;
        width:30%;
        height: 1px;
        margin: 3rem auto;
        background-color: #fff;
    }
}
.line_tb_box{
    position: relative;
    padding: 2rem;
    margin-bottom: 1.5rem;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    &.-mobile{
        width: 40vh;
        .pf_img{
            max-height: 47rem;
        }
    }
}
.blur_box{
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    width:60%;
    backdrop-filter:blur(8px);
    box-shadow: 0.2rem 0.7rem 1.5rem 0.8rem rgba(0,0,0,0.3);
    z-index: -1;
}

/*position*/
.left_top{
    position: absolute;
    left:2.5rem;
    top:8rem;
    padding-right: 2.5rem;
}
.right_top{
    position: absolute;
    right:2.5rem;
    top:8rem;
    padding-left: 2.5rem;
}
.left_bottom{
    position: absolute;
    left:2.5rem;
    bottom:6rem;
    padding-right: 2.5rem;
}
.right_bottom{
    position: absolute;
    right:2.5rem;
    bottom:6rem;
    padding-left: 2.5rem;
}

/*float*/
.fr{
    float: right;
    &::after{
        content: "";
        clear: both;
    }
}

/*icon*/
.ico_scroll{
    position: absolute;
    bottom:4rem;
    left:46%;
    right:46%;
    width:3rem;
    height:3rem;
    opacity: 0;
    transition: all 0.5s;
    animation-name:bounce;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    background: url(../images/ico_scroll.png) no-repeat 0 0 /3rem 3rem;
}
.ico_line{
    display: inline-block;
    width:100%;
    height:1px;
    background-color: #fff;
}
.ico_task{
    position: absolute;
    right:-5rem;
    top:0.1rem;
    display: inline-block;
    width:4rem;
    height: 2rem;
    border-radius: 1.5rem;
    background: url(../images/ico_task.png) no-repeat 0 0 / cover;
}
.arr_right{
    display: inline-block;
    width:1.2rem;
    height: 2rem;
    margin: 0 0.4rem 0.3rem 0.4rem;
    background: url(../images/ico_arrow_right.png) no-repeat 0 0 / cover;
    vertical-align: middle;
}

/*****header******/
.header_box{
    position: fixed;
    top:2.5rem;
    width: 100%;
    height: 3.5rem;
    z-index: 99;
    .h1_tit{
        height: 100%;
        color:#fff;
        margin-left: 1.5rem;
        .pic{
            width:3.5rem;
            height:3.5rem;
            display: inline-block;
            border-radius: 2.5rem;
            background-color: #ffc400;
            vertical-align: middle;
        }
        strong{
            margin:0 0.5rem;
            font-size:1.3rem;
        }
        span{
            font-size: 1.1rem;
            font-weight: normal;
        }
    }
}
.contents_box{
    .slick-dots{
        position: absolute;
        top:1rem;
        width:100%;
        height: 0.2rem;
        display: flex;
        padding:0 0.5rem;
        box-sizing: border-box;
        li{
            flex:1;
            button{
                width:100%;
                height: 100%;
                border-radius: 0.2rem;
                border:0;
                background-color: rgb(255, 255, 255,0.5);
                text-indent: -9999px;
            }
            &+li{
                margin-left:0.3rem;
            }
            &.slick-active{
                button{
                    background-color: #fff;
                }
            }
        }
    }
    .content{
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-shadow: 0.1rem 0.1rem 0.3rem #121212;
        z-index: 99;
        &.about_me{
            background: url(../images/img_mountain1280.jpg) no-repeat 0 0 / cover;
        }
        &.career{
            background: url(../images/img_geometry1920.jpg) no-repeat 0 0 / cover;
        }
        &.lululemon{
            background: url(../images/img_lululemon.png) no-repeat 50% 60% / cover;
        }
        &.k_stock{
            background: url(../images/img_bank.jpg) no-repeat 50% 60% / cover;
        }
        &.samsung{
            background: url(../images/img_samsung.png) no-repeat 50% 50% / cover;
        }
        &.justice{
            background: url(../images/img_justice.png) no-repeat 50% 50% / cover;
        }
        &.aerok{
            background: url(../images/img_aerok.png) no-repeat 50% 50% / cover;
        }
        &.lguplus{
            background: url(../images/img_lguplus.png) no-repeat 50% 50% / cover;
        }
        &.clubmeta{
            background: url(../images/img_clubmeta.jpg) no-repeat 50% 50% / cover;
        }
        &.lottecard{
            background: url(../images/img_lottecard.jpg) no-repeat 50% 50% / cover;
        }
        .inner_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .step_box{
            position: absolute;
            right:0;
            top:25%;
            width:55%;
            height: calc(100% - 300px);
            font-size: 1.6rem;
            z-index: 99;
            overflow: auto;
            ul{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    left:0.3rem;
                    display: inline-block;
                    width:0.8rem;
                    height: 0.8rem;
                    font-size:0.5rem;
                    color:#fff;
                    border-radius: 0.7rem;
                    border:1px solid #fff;
                }
            }
            .step{
                position: relative;
                margin-bottom: 5rem;
                a{
                    position: relative;
                    display: inline;
                    font-weight: 900;
                    color:#e4e4e4;
                    &::before{
                        content: '';
                        position: absolute;
                        left:0;
                        bottom:0;
                        display: inline-block;
                        width:0;
                        height:20%;
                        vertical-align: middle;
                        background-color:#ffc400;
                        transition: all 0.3s;
                        z-index: -1;
                    }
                }
                &:before{
                    content: '';
                    display: inline-block;
                    width:1rem;
                    height:1rem;
                    margin-right: 1rem;
                    border-radius: 1.3rem;
                    border:3px solid #e4e4e4;
                    background-color:#e4e4e4;
                    vertical-align: middle;
                    transition: all 0.3s;
                }
                &::after{
                    content: '';
                    position: absolute;
                    left:0.7rem;
                    top:1.5rem;
                    display: inline-block;
                    width:2px;
                    height:5.5rem;
                    background-color: #e4e4e4;
                }
                &:hover{
                    &:before{
                        background-color:#ffc400;
                    }
                    a{
                        &::before{
                            width:105%;
                        }
                    }
                    .ico_task{
                        background: url(../images/ico_task02.png) no-repeat 0 0 / cover;
                    }
                }
            }
            .slick-dots{
                flex-direction: column;
                align-items: stretch;
                &::after{
                    display: none;
                }
            }
        }
        .pf_img{
            width:100%;
            max-width: 75rem;
            max-height: 40rem;
            box-shadow: 0.2rem 0.2rem 0.5rem rgba(58, 58, 58, 0.5);
            overflow: scroll;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            &::-webkit-scrollbar{
                display: none;
            }
            &:hover{
                .ico_scroll{
                    opacity: 1;
                }
            }
            img{
                width: 100%;
            }
        }
        p{
            line-height: 1.5;
            font-size: 1.3rem;
            word-break: keep-all;
        }
    }
}

@media only screen and (max-width: 600px) {
    .line_tb_box{
        display: none !important;
    }
    .h3_tit{
        font-size: 4.5rem;
    }
    .justice{
        background-size: 200% 100% !important;
    }
}

@keyframes bounce {
    from {
      transform:translateY(0px);
    }
    to {
      transform:translateY(10px);
    }
  }